###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> Docker файлы ###
docker-compose.local.yml
docker/nginx/logs
docker/postgresql_data
###< Docker файлы ###